ACCENT="{{ CS_ACC }}"

BLACK="{{ CS_TERM[0] }}"
RED="{{ CS_TERM[1] }}"
GREEN="{{ CS_TERM[2] }}"
ORANGE="{{ CS_TERM[3] }}"
BLUE="{{ CS_TERM[4] }}"
PURPLE="{{ CS_TERM[5] }}"
CYAN="{{ CS_TERM[6] }}"
WHITE="{{ CS_TERM[7] }}"

BLACK_ALT="{{ CS_TERM[8] }}"
RED_ALT="{{ CS_TERM[9] }}"
GREEN_ALT="{{ CS_TERM[10] }}"
ORANGE_ALT="{{ CS_TERM[11] }}"
BLUE_ALT="{{ CS_TERM[12] }}"
PURPLE_ALT="{{ CS_TERM[13] }}"
CYAN_ALT="{{ CS_TERM[14] }}"
WHITE_ALT="{{ CS_TERM[15] }}"
