$accent: {{ CS_ACC }};
$black: {{ CS_TERM[0] }};
$red: {{ CS_TERM[1] }};
$green: {{ CS_TERM[2] }};
$orange: {{ CS_TERM[3] }};
$blue: {{ CS_TERM[4] }};
$purple: {{ CS_TERM[5] }};
$cyan: {{ CS_TERM[6] }};
$white: {{ CS_TERM[7] }};
$black-alt: {{ CS_TERM[8] }};
$red-alt: {{ CS_TERM[9] }};
$green-alt: {{ CS_TERM[10] }};
$orange-alt: {{ CS_TERM[11] }};
$blue-alt: {{ CS_TERM[12] }};
$purple-alt: {{ CS_TERM[13] }};
$cyan-alt: {{ CS_TERM[14] }};
$white-alt: {{ CS_TERM[15] }};
