@import "./colors.scss";

* {
    all: unset;
    font-family: "NotoSans Nerd Font";
    font-size: 15px;
    color: $black
}

.workspaces button {
    padding: 0px 5px;
}

.workspaces {
    background-color: $white;
    padding: 0px 5px;
    border-radius: 10px;
    margin-left: 5px;
}

.ws-active {
    color: $accent;
}
.workspaces button:hover {
    background-color: $accent;
    border-radius: 10px;
}

.status > * {
    margin: 0px 5px;
    padding: 0px 5px;
    border-radius: 10px;
}

.time {
    background-color: $green;
}

.battery-low {
    background-color: $red;
}
.battery-charging, .battery {
    background-color: $orange;
}

.volume-unmuted, .volume-muted {
    background-color: $blue;
}
.volume-muted {
    color: $black-alt;
}
